@mixin d_flex{
  display: flex;
}
@mixin align_center{
  align-items: center;
}
@mixin just_between{
  justify-content: space-between;
}
@mixin just_center{
  justify-content: center;
}
@mixin reset{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin container{
  margin: 0 10%;
}
@mixin btn{
  color: $color_blue;
  font-weight: 600;
  border: 1px solid $color_blue;
  border-radius: 5px;
}
body{
  font-family: 'Nunito Sans', sans-serif;
  @include reset;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.font_size_54{
  font-size: 54px;
}
.font_size_22{
  font-size: 22px;
}

// media query
@media screen and (max-width: 997px){
  //section jumbotron
  .nav_right{
    visibility: hidden;
  }
  //section process
  #jumbotron{
    .container{
      flex-direction: column;
      text-align: center;
      width: max-content;
      margin: 0 10%;
      
    }
  }
}

@media screen and (min-width: 998px){
  //section jumbotron
  .mobile-menu {
    display: none;
  }
  //section process
  // #jumbotron{
  //   .container{
  //     .jumbo_text{
  //       width: 50%;
  //     }
  //     .jumbo_img{
  //       width: 50%;
  //     }
  //   }
  // }
}
